.input__box {
    height: min-content;
    width: 100%;
}

.input--default {
    height: 47px;
    width: 100%;
    padding: 10px;
    background: rgb(65, 65, 65);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;

    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: thin;

    transition-property: border;
    transition-duration: 0.1s;
    box-sizing: border-box;
}

.input--default:hover {
    border: 3px solid #CACACA;
}

.input--default:focus {
    border: 3px solid #52AA91;
}

.input__tip {
    margin-bottom: 10px;
    color: #52AA91;
    font-size: 13px;
    font-weight: 600;
    opacity: 1;
}