.position {
  position: fixed;
  height: 85vh;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgb(51, 51, 51);

  transition-property: box-shadow;
  transition-duration: 0.2s;

  display: grid;
  grid-template-columns: 10% 40% 40% 10%;

  background: #35393f;
  z-index: 2;
  overflow-y: scroll;
}

.position__image {
  height: 300px;
  margin-bottom: 20px;
  border-radius: 5px 5px 0px 0px;

  background-size: cover;
  background-position: center;

  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.position__name {
  color: #c9c9c9;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;

  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.position__description {
  height: min-content;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: 13px;
  font-weight: normal;

  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.position__wc {
  height: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  grid-column: 2 / 4;
  grid-row: 5 / 6;
}

.position__author {
  color: white;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
}

.position__data {
  color: white;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
}

.position__button {
  border: 3px solid #79cab5;
  width: max-content;
  margin: 0px auto 20px auto;
  grid-column: 2 / 4;
  grid-row: 6/7;
}

.position__button:hover {
  border: 3px solid #79cab5;
  background-color: #79cab5;
}
